[Unit]
Description=Run onboarding service
After=network.service
After=network-online.target
ConditionPathExists=!%h/.config/onboarding/disable
#Requires=graphical-session.target

[Service]
#TimeoutStartSec=30
Restart=on-failure
ExecStart=/usr/bin/onboarding


[Install]
WantedBy=default.target
