[Unit]
Description=Automatcly cycle desktop wallpaper

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/wallpaper-cycler %u

[Install]
WantedBy=default.target

